/* ==========================
   ROLE CARD
========================== */

.role-card {
  width: 320px;
  min-height: 290px;

  background: rgba(255, 255, 255, 0.85);

  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  border-radius: 22px;

  padding: 30px;

  text-align: center;

  box-shadow: 0 15px 35px rgba(0,0,0,0.08);

  transition: 0.35s ease;

  border: 1px solid rgba(255,255,255,.5);
}

.role-card:hover{
    transform: translateY(-12px);
    box-shadow: 0 25px 45px rgba(108,99,255,.25);
}

.role-icon{
    font-size:60px;
    margin-bottom:18px;
}

.role-card h2{
    font-size:28px;
    color:#1F2937;
    margin-bottom:8px;
}

.role-card h4{
    color:#6C63FF;
    margin-bottom:18px;
    font-size:18px;
}

.role-card p{
    color:#6B7280;
    font-size:15px;
    line-height:1.7;
    margin-bottom:25px;
}

.role-btn{

    width:100%;

    padding:14px;

    border:none;

    border-radius:40px;

    background:#6C63FF;

    color:white;

    font-size:16px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

}

.role-btn:hover{

    background:#5848f8;

    transform:scale(1.04);

}

@media(max-width:1000px){

.role-card{

    width:100%;

}

}