.role-card{

    background:#ffffff;

    border-radius:22px;

    padding:30px 25px;

    text-align:center;

    box-shadow:0 12px 35px rgba(0,0,0,.08);

    transition:.35s;

    display:flex;

    flex-direction:column;

    justify-content:space-between;

    min-height:330px;

}

.role-card:hover{

    transform:translateY(-12px);

    box-shadow:0 20px 45px rgba(108,99,255,.18);

}

.role-icon{

    font-size:58px;

    margin-bottom:20px;

}

.role-card h2{

    color:#1f2937;

    font-size:30px;

    margin-bottom:8px;

}

.role-card h4{

    color:#6c63ff;

    margin-bottom:20px;

    font-size:18px;

    font-weight:600;

}

.role-card p{

    color:#6b7280;

    line-height:1.7;

    font-size:16px;

    flex:1;

}

.role-btn{

    margin-top:30px;

    width:100%;

    border:none;

    padding:15px;

    border-radius:14px;

    background:#6c63ff;

    color:white;

    cursor:pointer;

    font-size:16px;

    font-weight:600;

    transition:.3s;

}

.role-btn:hover{

    background:#5648ec;

    transform:scale(1.03);

}

.role-card a{

    text-decoration:none;

}